/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 10px;
}
.grid .unit.cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.table {
  display: table;
  width: 100%;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin-left: auto;
  margin-right: auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3333%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6667%; }
.grid .one-quarter,
.grid .one-fourth,     .grid .w-1-4 { width: 25%; }
.grid .three-quarters,
.grid .three-fourths,  .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .one-sixth,      .grid .w-1-6 { width: 16.6667%; }
.grid .five-sixths,    .grid .w-5-6 { width: 83.3333%; }
.grid .one-seventh,    .grid .w-1-7 { width: 14.2857%; }
.grid .two-sevenths,   .grid .w-2-7 { width: 28.5714%; }
.grid .three-sevenths, .grid .w-3-7 { width: 42.8571%; }
.grid .four-sevenths,  .grid .w-4-7 { width: 57.1429%; }
.grid .five-sevenths,  .grid .w-5-7 { width: 71.4286%; }
.grid .six-sevenths,   .grid .w-6-7 { width: 85.7143%; }
.grid .one-eighth,     .grid .w-1-8 { width: 12.5%; }
.grid .three-eighths,  .grid .w-3-8 { width: 37.5%; }
.grid .five-eighths,   .grid .w-5-8 { width: 62.5%; }
.grid .seven-eighths,  .grid .w-7-8 { width: 87.5%; }
.grid .one-ninth,      .grid .w-1-9 { width: 11.1111%; }
.grid .two-ninths,     .grid .w-2-9 { width: 22.2222%; }
.grid .four-ninths,    .grid .w-4-9 { width: 44.4444%; }
.grid .five-ninths,    .grid .w-5-9 { width: 55.5556%; }
.grid .seven-ninths,   .grid .w-7-9 { width: 77.7778%; }
.grid .eight-ninths,   .grid .w-8-9 { width: 88.8889%; }
.grid .one-tenth,      .grid .w-1-10 { width: 10%; }
.grid .three-tenths,   .grid .w-3-10 { width: 30%; }
.grid .seven-tenths,   .grid .w-7-10 { width: 70%; }
.grid .nine-tenths,    .grid .w-9-10 { width: 90%; }
.grid .one-eleventh,   .grid .w-1-11 { width: 9.0909%; }
.grid .two-elevenths,  .grid .w-2-11 { width: 18.1818%; }
.grid .three-elevenths,.grid .w-3-11 { width: 27.2727%; }
.grid .four-elevenths, .grid .w-4-11 { width: 36.3636%; }
.grid .five-elevenths, .grid .w-5-11 { width: 45.4545%; }
.grid .six-elevenths,  .grid .w-6-11 { width: 54.5455%; }
.grid .seven-elevenths,.grid .w-7-11 { width: 63.6364%; }
.grid .eight-elevenths,.grid .w-8-11 { width: 72.7273%; }
.grid .nine-elevenths, .grid .w-9-11 { width: 81.8182%; }
.grid .ten-elevenths,  .grid .w-10-11 { width: 90.9091%; }
.grid .one-twelfth,    .grid .w-1-12 { width: 8.3333%; }
.grid .five-twelfths,  .grid .w-5-12 { width: 41.6667%; }
.grid .seven-twelfths, .grid .w-7-12 { width: 58.3333%; }
.grid .eleven-twelfths,.grid .w-11-12 { width: 91.6667%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* A property for a better rendering of images in units: in
   this way bigger pictures are just resized if the unit
   becomes smaller */
.unit img {
  max-width: 100%;
}

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}

/* Responsive Stuff */
@media screen and (max-width: 767px) {
  /* Width classes also have shorthand versions numbered as fractions
   * For example: for a grid unit 1/3 (one third) of the parent width,
   * simply apply class="w-1-3" to the element. */
  .grid .mob-whole,          .grid .mob-w-1-1 { width: 100%; }
  .grid .mob-half,           .grid .mob-w-1-2 { width: 50%; }
  .grid .mob-one-third,      .grid .mob-w-1-3 { width: 33.3333%; }
  .grid .mob-two-thirds,     .grid .mob-w-2-3 { width: 66.6667%; }
  .grid .mob-one-quarter,
  .grid .mob-one-fourth,     .grid .mob-w-1-4 { width: 25%; }
  .grid .mob-three-quarters,
  .grid .mob-three-fourths,  .grid .mob-w-3-4 { width: 75%; }
  .grid .mob-one-fifth,      .grid .mob-w-1-5 { width: 20%; }
  .grid .mob-two-fifths,     .grid .mob-w-2-5 { width: 40%; }
  .grid .mob-three-fifths,   .grid .mob-w-3-5 { width: 60%; }
  .grid .mob-four-fifths,    .grid .mob-w-4-5 { width: 80%; }
  .grid .mob-one-sixth,      .grid .mob-w-1-6 { width: 16.6667%; }
  .grid .mob-five-sixths,    .grid .mob-w-5-6 { width: 83.3333%; }
  .grid .mob-one-seventh,    .grid .mob-w-1-7 { width: 14.2857%; }
  .grid .mob-two-sevenths,   .grid .mob-w-2-7 { width: 28.5714%; }
  .grid .mob-three-sevenths, .grid .mob-w-3-7 { width: 42.8571%; }
  .grid .mob-four-sevenths,  .grid .mob-w-4-7 { width: 57.1429%; }
  .grid .mob-five-sevenths,  .grid .mob-w-5-7 { width: 71.4286%; }
  .grid .mob-six-sevenths,   .grid .mob-w-6-7 { width: 85.7143%; }
  .grid .mob-one-eighth,     .grid .mob-w-1-8 { width: 12.5%; }
  .grid .mob-three-eighths,  .grid .mob-w-3-8 { width: 37.5%; }
  .grid .mob-five-eighths,   .grid .mob-w-5-8 { width: 62.5%; }
  .grid .mob-seven-eighths,  .grid .mob-w-7-8 { width: 87.5%; }
  .grid .mob-one-ninth,      .grid .mob-w-1-9 { width: 11.1111%; }
  .grid .mob-two-ninths,     .grid .mob-w-2-9 { width: 22.2222%; }
  .grid .mob-four-ninths,    .grid .mob-w-4-9 { width: 44.4444%; }
  .grid .mob-five-ninths,    .grid .mob-w-5-9 { width: 55.5556%; }
  .grid .mob-seven-ninths,   .grid .mob-w-7-9 { width: 77.7778%; }
  .grid .mob-eight-ninths,   .grid .mob-w-8-9 { width: 88.8889%; }
  .grid .mob-one-tenth,      .grid .mob-w-1-10 { width: 10%; }
  .grid .mob-three-tenths,   .grid .mob-w-3-10 { width: 30%; }
  .grid .mob-seven-tenths,   .grid .mob-w-7-10 { width: 70%; }
  .grid .mob-nine-tenths,    .grid .mob-w-9-10 { width: 90%; }
  .grid .mob-one-eleventh,   .grid .mob-w-1-11 { width: 9.0909%; }
  .grid .mob-two-elevenths,  .grid .mob-w-2-11 { width: 18.1818%; }
  .grid .mob-three-elevenths,.grid .mob-w-3-11 { width: 27.2727%; }
  .grid .mob-four-elevenths, .grid .mob-w-4-11 { width: 36.3636%; }
  .grid .mob-five-elevenths, .grid .mob-w-5-11 { width: 45.4545%; }
  .grid .mob-six-elevenths,  .grid .mob-w-6-11 { width: 54.5455%; }
  .grid .mob-seven-elevenths,.grid .mob-w-7-11 { width: 63.6364%; }
  .grid .mob-eight-elevenths,.grid .mob-w-8-11 { width: 72.7273%; }
  .grid .mob-nine-elevenths, .grid .mob-w-9-11 { width: 81.8182%; }
  .grid .mob-ten-elevenths,  .grid .mob-w-10-11 { width: 90.9091%; }
  .grid .mob-one-twelfth,    .grid .mob-w-1-12 { width: 8.3333%; }
  .grid .mob-five-twelfths,  .grid .mob-w-5-12 { width: 41.6667%; }
  .grid .mob-seven-twelfths, .grid .mob-w-7-12 { width: 58.3333%; }
  .grid .mob-eleven-twelfths,.grid .mob-w-11-12 { width: 91.6667%; }
  .grid .mob-golden-small,   .grid .mob-w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
  .grid .mob-golden-large,   .grid .mob-w-g-l { width: 61.7283%; } /* Golden section: larger piece */

  /* Stack anything that isn’t full-width on smaller screens
     and doesn't provide the no-stacking-on-mobiles class */
  .grid:not(.no-stacking-on-mobiles) > .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
  .only-on-mobiles {
    display: block !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Width classes also have shorthand versions numbered as fractions
   * For example: for a grid unit 1/3 (one third) of the parent width,
   * simply apply class="w-1-3" to the element. */
  .grid .mid-whole,          .grid .mid-w-1-1 { width: 100%; }
  .grid .mid-half,           .grid .mid-w-1-2 { width: 50%; }
  .grid .mid-one-third,      .grid .mid-w-1-3 { width: 33.3333%; }
  .grid .mid-two-thirds,     .grid .mid-w-2-3 { width: 66.6667%; }
  .grid .mid-one-quarter,
  .grid .mid-one-fourth,     .grid .mid-w-1-4 { width: 25%; }
  .grid .mid-three-quarters,
  .grid .mid-three-fourths,  .grid .mid-w-3-4 { width: 75%; }
  .grid .mid-one-fifth,      .grid .mid-w-1-5 { width: 20%; }
  .grid .mid-two-fifths,     .grid .mid-w-2-5 { width: 40%; }
  .grid .mid-three-fifths,   .grid .mid-w-3-5 { width: 60%; }
  .grid .mid-four-fifths,    .grid .mid-w-4-5 { width: 80%; }
  .grid .mid-one-sixth,      .grid .mid-w-1-6 { width: 16.6667%; }
  .grid .mid-five-sixths,    .grid .mid-w-5-6 { width: 83.3333%; }
  .grid .mid-one-seventh,    .grid .mid-w-1-7 { width: 14.2857%; }
  .grid .mid-two-sevenths,   .grid .mid-w-2-7 { width: 28.5714%; }
  .grid .mid-three-sevenths, .grid .mid-w-3-7 { width: 42.8571%; }
  .grid .mid-four-sevenths,  .grid .mid-w-4-7 { width: 57.1429%; }
  .grid .mid-five-sevenths,  .grid .mid-w-5-7 { width: 71.4286%; }
  .grid .mid-six-sevenths,   .grid .mid-w-6-7 { width: 85.7143%; }
  .grid .mid-one-eighth,     .grid .mid-w-1-8 { width: 12.5%; }
  .grid .mid-three-eighths,  .grid .mid-w-3-8 { width: 37.5%; }
  .grid .mid-five-eighths,   .grid .mid-w-5-8 { width: 62.5%; }
  .grid .mid-seven-eighths,  .grid .mid-w-7-8 { width: 87.5%; }
  .grid .mid-one-ninth,      .grid .mid-w-1-9 { width: 11.1111%; }
  .grid .mid-two-ninths,     .grid .mid-w-2-9 { width: 22.2222%; }
  .grid .mid-four-ninths,    .grid .mid-w-4-9 { width: 44.4444%; }
  .grid .mid-five-ninths,    .grid .mid-w-5-9 { width: 55.5556%; }
  .grid .mid-seven-ninths,   .grid .mid-w-7-9 { width: 77.7778%; }
  .grid .mid-eight-ninths,   .grid .mid-w-8-9 { width: 88.8889%; }
  .grid .mid-one-tenth,      .grid .mid-w-1-10 { width: 10%; }
  .grid .mid-three-tenths,   .grid .mid-w-3-10 { width: 30%; }
  .grid .mid-seven-tenths,   .grid .mid-w-7-10 { width: 70%; }
  .grid .mid-nine-tenths,    .grid .mid-w-9-10 { width: 90%; }
  .grid .mid-one-eleventh,   .grid .mid-w-1-11 { width: 9.0909%; }
  .grid .mid-two-elevenths,  .grid .mid-w-2-11 { width: 18.1818%; }
  .grid .mid-three-elevenths,.grid .mid-w-3-11 { width: 27.2727%; }
  .grid .mid-four-elevenths, .grid .mid-w-4-11 { width: 36.3636%; }
  .grid .mid-five-elevenths, .grid .mid-w-5-11 { width: 45.4545%; }
  .grid .mid-six-elevenths,  .grid .mid-w-6-11 { width: 54.5455%; }
  .grid .mid-seven-elevenths,.grid .mid-w-7-11 { width: 63.6364%; }
  .grid .mid-eight-elevenths,.grid .mid-w-8-11 { width: 72.7273%; }
  .grid .mid-nine-elevenths, .grid .mid-w-9-11 { width: 81.8182%; }
  .grid .mid-ten-elevenths,  .grid .mid-w-10-11 { width: 90.9091%; }
  .grid .mid-one-twelfth,    .grid .mid-w-1-12 { width: 8.3333%; }
  .grid .mid-five-twelfths,  .grid .mid-w-5-12 { width: 41.6667%; }
  .grid .mid-seven-twelfths, .grid .mid-w-7-12 { width: 58.3333%; }
  .grid .mid-eleven-twelfths,.grid .mid-w-11-12 { width: 91.6667%; }
  .grid .mid-golden-small,   .grid .mid-w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
  .grid .mid-golden-large,   .grid .mid-w-g-l { width: 61.7283%; } /* Golden section: larger piece */

  .hide-on-middle {
    display: none !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1200px) {
  .wider .grid,
  .grid.wider {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
